* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
}

.create-post-section {
  width: 100%;
  height: 100%;
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-post-section h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #222;
}

.create-post-section form {
  width: 380px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-post-section form input[type="file"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.create-post-section form input[type="text"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

.create-post-section form input[type="text"]:focus {
  border-color: #4caf50;
}

.create-post-section form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.create-post-section form button:hover {
  background: #388e3c;
}
.feed-section {
  width: 100%;
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
}

.postcard {
  width: 350px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.postcard img {
  width: 90%;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.postcard h3 {
  margin-top: 10px;
  font-size: 15px;
  color: #333;
}